@font-face {
  font-family: Vazir;
  src: url('eot/Vazir-Regular.eot');
  src: url('eot/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
       url('woff2/Vazir-Regular.woff2') format('woff2'),
       url('woff/Vazir-Regular.woff') format('woff'),
       url('ttf/Vazir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('eot/Vazir-Bold.eot');
  src: url('eot/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('woff2/Vazir-Bold.woff2') format('woff2'),
       url('woff/Vazir-Bold.woff') format('woff'),
       url('ttf/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('eot/Vazir-Black.eot');
  src: url('eot/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('woff2/Vazir-Black.woff2') format('woff2'),
       url('woff/Vazir-Black.woff') format('woff'),
       url('ttf/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('eot/Vazir-Medium.eot');
  src: url('eot/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('woff2/Vazir-Medium.woff2') format('woff2'),
       url('woff/Vazir-Medium.woff') format('woff'),
       url('ttf/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('eot/Vazir-Light.eot');
  src: url('eot/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('woff2/Vazir-Light.woff2') format('woff2'),
       url('woff/Vazir-Light.woff') format('woff'),
       url('ttf/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('eot/Vazir-Thin.eot');
  src: url('eot/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('woff2/Vazir-Thin.woff2') format('woff2'),
       url('woff/Vazir-Thin.woff') format('woff'),
       url('ttf/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}